<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/style1.css">
</head>
<body>
    <div class="img">
        <img src="/styles/image/profile.png" alt="pic">
    </div>
    <div class="button">
        <a href="/login">LOGIN</a>
        <a href="/signup">SIGNUP</a>
    </div>
</body>
</html>